{% extends 'layout/base.html' %}

{% block content %}
{% if err_msg %}
<div class="alert alert-danger">
    {{ err_msg }}
</div>
{% endif %}
<div class="col-lg-8 container">
    <div class="card">
        <form class="card-body" method="post" enctype="multipart/form-data" action="/change-password">
            <h3 class="card-title text-center mb-5 fw-light fs-5">Đổi mật khẩu</h3>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Mật khẩu cũ</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="password" class="form-control" id="oldpassword" placeholder="Nhập mật khẩu cũ"
                           name="oldpassword"
                           required autofocus>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Mật khẩu mới</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="password" class="form-control" id="newpassword" placeholder="Nhập mật khẩu mới"
                           name="newpassword"
                           required autofocus pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Xác nhận mật khẩu mới</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="password" class="form-control" required id="confirm"
                           placeholder="Nhập xác nhận mật khẩu mới" name="confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Lưu
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}