{% extends 'layout/base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-7 col-xl-6 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex">
            </div>
            <div class="card-body p-4 p-sm-5">
                <h3 class="card-title text-center mb-5 fw-light fs-5">Login</h3>
                {% if err_msg %}
                <div class="alert alert-success">
                    {{ err_msg }}
                </div>
                {% endif %}
                <form method="post">

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập"
                               name="username"
                               required autofocus>
                        <label for="username">Username</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" required id="password"
                               placeholder="Nhập mật khẩu"
                               name="password" required>
                        <label for="password">Mật khẩu</label>
                    </div>

                    <div class="d-grid mb-2">
                        <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Login
                        </button>
                    </div>

                    <a class="d-block text-center mt-2 small" href="/register">Don't have an account? Sign Up</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}